<?
  global $post;
  $post_id = !empty($post->ID) ? $post->ID : null;
?>

<div class="angellist">
  <input type="hidden" 
	 class="hidden_post_id" 
	 name="hidden_post_id" 
	 value="<?= $post_id ?>"
	 >
  <input type="text" 
	 name="angellist_embed_search" 
	 class="angellist_search inactive"
	 value="startup or user name..."
	 start_val="startup or user name..."
	 >

  <span class="currently_selected"></span>
     
  <a href="javascript:" class="expand_angellist_preview button">
    show preview <span class="expand_angellist_preview_arrow">►</span>
  </a>

  <div class="preview_explanation">
    If this preview looks bad or emtpy, AngelList just got an email and we'll fix it.
  </div>

  <div class="angellist_preview">
  </div>

</div>
